* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial sans-serif;
  height: 100%;
  /*background: linear-gradient(#f6e2f4, #f59abf);*/
  background: linear-gradient(#f6e2f4, #eebacf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
